.navbar {
  background-color: #e3f2fd;
  margin-bottom: 0.5em;
}

.navbar-brand {
  font-weight: bold;
  padding-left: 1em;
  span {
    color: #000;
  }
}

small {
  span {
    padding-left: 15px;
  }
}